{% extends 'base.html' %}

{% block title %} Login {% endblock %}
{% load crispy_forms_tags %}
{% load static %}

{% block body %}

    <div class="login">
        <img src="../../static/images/login_static.png" class="login_static" alt="">
        <form action="" class="form-group" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <p> <small>Don't have an account? <a href="{% url 'register' %}">Sign Up</a></small> </p>
            <input class="home__button" type="submit" class="btn btn-success" value="Login">
        </form>
    </div>

{% endblock %}