body{
    background: url(../images/login_bg.png);
    background-size: cover;
}

.login, .register{
    color: #fff;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.8);
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 1px -1px 10px 2px rgb(255, 255, 255);
    font-size: 15pt;
}

.login{
    width: 450px;
    height: 500px;
}

.register{
    /*  */
}

.login_static{
    width: 50%;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: calc(-270px/2);
    left: calc(50% - 120px);
}

.auth__buttons{
    background: #4b8cc9;
    padding: 5px 15px;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    width: 100%;
}
