body{
    background: url(../images/login_bg.png);
    background-size: cover;
}

.login{
    color: #fff;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 500px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.9);
    padding: 80px 30px 0 30px;
    border-radius: 20px;
    box-shadow: 1px -1px 10px 2px #fff;
    font-size: 15pt;
}

.login_static{
    width: 40%;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: calc(-200px/2);
    left: calc(50% - 90px);
}
